# .env (root-level)
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# For local dev
LOCAL_DB_HOST=
LOCAL_BACKEND_URL=
LOCAL_VITE_URL=
PORT=
VITE_BASE_URL_V1=

#For frontend
VITE_BASE_URL_V1=
VITE_AUTH_API_BASE_URL=
